# Object files
*.o
*.o.d
*.d
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
prj/.codelite/refactoring.db
prj/.codelite/.tern-port
prj/.codelite/.tern-project
prj/.codelite/compilation.db
prj/.codelite/compile_commands.json
prj/.codelite/HSM.tags